.underline {
    padding: 3px;
    background-color: aqua;
}

th {
    padding: 10px;
    margin : 20px;
}

td {
    padding : 10px
}

.textsm {
    font-size: x-large;
}

.alert {
    margin-top: 20px;
    padding: 5px;
    text-align: center;
}

.bg-App{
    background-image: linear-gradient(violet , indigo);
}

.text-App{
    color: rgb(110, 3, 3);
}

@media only screen and (max-width : 400px){
    .textsm{
        font-size: medium;
    }
}

