.underline {
    padding: 3px;
    background-color: aqua;
}

th {
    padding: 10px;
    margin : 20px;
}

td {
    padding : 10px
}

.textsm {
    font-size: x-large;
}

@media only screen and (max-width : 400px){
    .textsm{
        font-size: medium;
    }
}